/*  Inspired heavily by https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ and
    http://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html
*/

@import url(https://fonts.googleapis.com/css?family=Lato);


* {
    box-sizing: border-box;
}

label {
  display: inline-block;
  width: 50px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px;
    width: 90%;
}

input[type=range]:focus {
    outline: none;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #111111;
    height: 34px;
    width: 14px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000;
    margin-top: -14px;
}


input[type=range]::-webkit-slider-runnable-track {
    cursor: pointer;
    width: 800px;
    height: 8px;
    border-radius: 5px;
    border: 1px solid #010101;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    outline: none;
    background: #367ebd;
}

textarea {
    width: 90%;
    height: 30px;
    border: 3px solid #cccccc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 30px;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    font-size: .9em;
}

#color-slider-red {
  background: red;
}

#color-slider-green {
  background: green;
}

#color-slider-blue {
  background: blue;
}

#color-slider-alpha {
  background: gray;
}
