@import url(https://fonts.googleapis.com/css?family=Lato);

* {
    box-sizing: border-box;
}


form {
    padding: 1em;
    margin: 0 auto;
    width: 390px;
    border-radius: 8px;
    background-color: #ebebeb;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border: solid 1px #cbc9c9;
    font-family: 'Lato', sans-serif;
}

label {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 1em;
    font-size: 1em;
}

input {
    font: 1em sans-serif;
    width: 100%;
    color: rgba(102, 102, 102, 0.88);
}

input[type=checkbox] {
    display: inline-block;
    width: auto;
}

.shipping-billing-form__check-box {
    display: inline-block;
    width: 80%;
    margin-left: 5px;
}

select {
    font-size: 1em;
}

fieldset {
    font-size: 1.1em;
}

#billing-name {
    margin-bottom: 1.4em;
}


#last-name {
    margin-bottom: 1em;
}

#state {
    margin-bottom: 1em;
}

#shipping-box {
    text-align: center;
}

input:valid:focus {
  background-color: green;
}

input:invalid {
  background-color: red;
}


/* Larger than mobile */

/* Larger than phablet */
@media (min-width: 550px) {
  form {
    width: 450px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {
  form {
    width: 700px;
    font-size: 1.1em;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  form {
    width: 750px;
    font-size: 1.2em;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  form {
    width: 800px;
    font-size: 1.5em;
  }
}
