* {
    box-sizing: border-box;
}


form {
    padding: 1em;
    margin: 0 auto;
    width: 390px;
    border-radius: 8px;
    background-color: #ebebeb;
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border: solid 1px #cbc9c9;
}

label {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 1em;
    font-size: 1em;
}

.button {
    display: inline-block;
    position:relative;
    padding: 5px 10px 6px;
    border-radius: 5px;
    background-color: rgba(58, 196, 87, 1);
    line-height: 1;
    font-size: .9em;
    color: rgba(57, 48, 50, 0.9);
    box-shadow: 0 1px 3px rgba(46,175,71,0.5);
    border-bottom: 1px solid rgba(0,0,0,0.25);
    cursor: pointer;
    margin-top: 1em;
}

.button:hover {
    background-color: rgba(178, 248, 82, 0.9);
}

.button:active {
    top: 1px;
}

input {
    font: 1em sans-serif;
    width: 100%;
    color: rgba(62, 61, 61, 0.78);
}

input:focus {
    background-color: #eee7bf;
}

input:valid:focus {
  background-color: green;
}

input:invalid {
  background-color: red;
}

/* Larger than mobile */
@media (min-width: 400px) {
  form {
    width: 90%;
  }
}

/* Larger than phablet */
/*@media (min-width: 550px) {}*/

/* Larger than tablet */
@media (min-width: 750px) {
  form {
    font-size: 1.2em;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  form {
    font-size: 1.5em;
    max-width: 900px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  form {
    font-size: 1.6em;
    max-width: 1000px;
  }
}
